################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Deprecated/WClient/.vs/WClient
/.vs
/client/log
/Debug
/Deprecated/RpcCommunicator/.vs
/Deprecated/RpcCommunicator/x64/Debug
/Deprecated/WClient/x64/Debug
/Deprecated/WServer/x64/Debug
