################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Deprecated/WClient/.vs/WClient
/.vs
/client/log
/Debug
